.my-cart-container {
  display: flex;
}

.my-cart-container .left {
  width: 70%;
  margin-right: 5px;
}

.my-cart-container .right {
  width: 30%;
  text-align: start;
}

.total {
  font-size: 1, 5rem;
  font-weight: bolder;
  color: chocolate;
}
