.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  text-align: center;
}

.header-logo {
  width: 400px;
  height: 100px;
  margin: 0 auto;
}

.header nav {
  background-color: black;
  height: 50px;
  display: flex;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin: 10px 30px;
}
.header nav a:hover {
  color: red;
}
